*{
    padding: 0;
    margin: 0;
}
/* 
5. Selector por atributo
*/
[class]{
    background-color: rgb(226, 39, 39);
}
a[href]{/*Se aplicara el estilo a los links*/
    text-align: center;
    margin-left: 2%;
    color: aquamarine;
}
/*Utilizando sufijos */
a[href$=".com"]{
    text-align: right;
    margin-top: 10px;
    color: blue;
}
/*Utilizando prefijos*/
article[class^="pre"]{
    margin-top: 25px;
}
/*Contenido la palabra*/
p[class*="rra"]{
    background-color: blueviolet;
}
/*Modificar el hermano
    elemto hermano seleccionado, elemento hermano siguiente que 
    se va afectar
*/
.subtitulo + article{ /*+ modifica al elemento hermano*/ 
    padding: 10px;
    margin-top: 5px;
    background-color: cornflowerblue;
}
.hermanos ~ p{
 padding: 10px;
 border: 4px double darkolivegreen;
 text-align: center;
}
/*Desendencia*/
.content .subtitulo{
    background-color: darkcyan;
}
/*Selectores multipes*/
.parrafo.aside{
    font-size: 25px;
    margin: 3%;
    padding: 3px;
}
/*Selector hijos directos*/
.ubicacion>.press{
    background-color: darkturquoise;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
} 